<h2>Registros obtenidos desde la API con Active Directory</h2>
<hr>

<select
    #mySelect
    (change)='cambiar(mySelect.value)'>
   <option
   *ngFor='let option of opciones'
   [value]="option">{{option}}</option>
</select>

<hr>
<div *ngIf="opcion=='productos'">
<ul *ngFor="let item of data" >
  <li >
    {{item.descripcion}}
  </li>
  <li>{{item.marca}}</li>
  <li>{{item.precio}}</li>
  <li>{{item.stock}}</li>
</ul>
</div>
<div *ngIf="opcion=='clientes'">
  <ul  *ngFor="let item of data">
    <li>
      {{item.razonSocial}}
    </li>
  </ul>
</div>
<div *ngIf="opcion=='ordenes'">
  <ul  *ngFor="let item of data">
    <li>
      {{item.fechaPedido}}
    </li>
    <ul *ngFor="let det of item.pedidoDetalles">
      <li>{{det.cantidad}}</li>
      <li>{{det.producto.descripcion}}</li>
      <li>{{det.producto.precio}}</li>
    </ul>
  </ul>
</div>
<div class="spinner-border center text-primary" role="status" *ngIf="loader">

</div>
